.res-container {
  display: flex;
  flex-wrap: wrap;
}

.body-top {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
}
.search-bar {
  text-align: center;
  
}
.search {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  width: 400px;
}
.button {
  text-align: center;
  font-size: 16px;
  margin: 5px;
  padding: 10px;
}
.button:hover{
  border: 2px solid greenyellow;
  cursor: pointer;
}
