.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black ;
}

.logo {
  width: 120px;
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo:hover{
  cursor: pointer;
}

.nav-items > ul {
    font-size: 19px;
  display: flex;
  margin-top: 30px;
  list-style: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
